*{
    padding: 0px;
    margin: 0px;
}

.body{
    background: url("../Wiki-background.png");
    min-height: 100vh;
    /* background-size: 100vw 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#scorebox{
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
}

#highscorebox{
    position: absolute;
    top: 50px;
    right: 140px;
    font-size: 40px;
    font-weight: bold;
}

#board{
    background: linear-gradient(green, rgb(134, 202, 56));
    width: 90vmin;
    height: 92vmin;
    border: 5px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(blue, black);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 5px;
}

.food{
    background: linear-gradient(red, orange);
    border: .25vmin solid black;
    border-radius: 10px;
}

.snake{
    background-color: purple;
    border: .25vmin solid whitesmoke;
    border-radius: 15px;
}